/* 自定义展示yolo内容textarea文本框样式 */
.custom-textarea {
  width: 380px;
  height: 200px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  /* 渐变背景，修改为蓝白渐变 */
  /*background: linear-gradient(45deg, #0077be, white);*/

  /*纯白背景*/
  background: white;


  /* 过渡效果，用于当样式属性改变时平滑过渡 */
  transition: all 0.3s ease;

  /* 鼠标悬停时的效果 */
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }

  /* 文本样式相关 */
  color: black;
  font-size: 16px;
  padding: 10px;

  /* 圆角边框 */
  border-radius: 5px;

  /* 禁用默认的文本框样式（在某些浏览器中可能需要） */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* 新增：设置文本垂直对齐方式为顶部对齐 */
  vertical-align: top;

  /* 新增：设置文本框为只读时的样式 */
  &[readonly] {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: not - allowed;
  }

  /* 新增：设置文本框获得焦点时的样式 */
  &:focus {
    outline: none;
    border-color: #0077be;
    box-shadow: 0 0 5px rgba(0, 119, 190, 0.5);
  }


}
